<%= layout("/layouts/boilerplate") %>

<body>
  <div class="navbar-nav ms-auto search-box-mobile">
    <form class="d-flex" role="search">
      <input class="form-control search-input" type="search" placeholder="Search destinations" aria-label="Search">
      <button class="btn search-btn ml-4" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
  <div class="information">
    <div id="filters" class="scrollable-div mt-3">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-mountain-city"></i></div>
       <p>Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div>
    </div>
    <div class="tax-toggle">
        <div class="form-switch form-check-reverse">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" role="switch">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
    </div>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2 ml-4 mr-2">
   <% for(let listing of alllistings) { %>
   <a href="/listings/<%=listing._id%>" class="listing-link">
       <div class="card col listing-card" >
        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 18rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %> </b>
            <br>
            <span class="without-tax">
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/ night
            </span>
            <span class="tax-info">
              &#8377; <%= (listing.price * 1.18).toLocaleString("en-IN") %> / night
              <i>&nbsp; &nbsp; +18%GST</i>
            </span> <br>
            <b><%= listing.location %>, </b> &nbsp; <b><%= listing.country %> </b>
          </p>
        </div>
      </div>
   </a>
      <%}%>
  </div>
  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault")
    taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    let withoutTaxInfo = document.getElementsByClassName("without-tax");

    for (info of taxInfo) {
      if (taxSwitch.checked) {
        info.style.display = "inline";  // Show tax-inclusive price
      } else {
        info.style.display = "none";  // Hide tax-inclusive price
      }
    }

    for (withoutTax of withoutTaxInfo) {
      if (taxSwitch.checked) {
        withoutTax.style.display = "none";  // Hide price without tax
      } else {
        withoutTax.style.display = "inline";  // Show price without tax
      }
    }
  });
  </script>
  
</body>

